CompileFlags:
  Add:
    - "-xc"
    - "-std=c99"
    - "-Wall"
    - "-DDEBUG"
    - "-DPAK_IMPLEMENTATION"
    - "-DKIND_IMPLEMENTATION"
    - "-DMD1_IMPLEMENTATION"
    - "-DPAK_TREE_IMPLEMENTATION"
